@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>To find out more about me, head to <a href="https://rossmanp.github.io">my homepage</a> 
    or my <a href="https://www.linkedin.com/in/peterossman">LinkedIn Profile.</a></p>
