@{
    ViewBag.Title = "Let's Get in Touch!";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Email:</strong>   <a href="mailto:Support@example.com">pete.rossman@gmail.com</a><br />
</address>

<div>
    <a href="https://wwww.linkedin.com/in/peterossman">Linkedin Profile</a><br />
    <a href="https://github.com/rossmanp">Github Page</a><br />
    <a href="https://rossmanp.github.io">Personal Website</a><br />
</div>