@{
    ViewBag.Title = "GC Coffee - Grand Rapids, MI";
    ViewBag.Message = "Welcome to GC Coffee!";
    
}    
    <h1>@ViewBag.Message</h1><br />
    @Html.ActionLink("Register", "Register", "Users")<br />
    @Html.ActionLink("Find the items here", "Items", "Home")<br />

