@{
    ViewBag.Title = "Register";
}
<style>
    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    #RegForm{
        text-align:center;
    }

</style>
<!--<h2>@ViewBag.Title</h2>-->
<h3>@ViewBag.Message</h3>

       <br />
        <form name="Reg" id="RegForm" action="Success" method="get" onsubmit="return validateForm()">
            <p><em>First Name:</em></p>
            <input id="First" type="text" name="FirstName" />
            <p><em>Last Name:</em></p>
            <input id="Last" type="text" name="LastName" />
            <p><em>Email:</em></p>
            <input id="Email" type="text" name="EmailAddress" />
            <br /><br />
            <input type="submit" name="submit" value="Submit">
        </form>


<!--The following script  validates the FirstName and Email
    address inputs in the registration form.-->
<script>
  function validateForm() { 
    var fFirstName = $("#First").val();   
    if (fFirstName === "") {
      alert("Please enter your first name.");
      return false;
    }
    var fLastName = $("#Last").val();
    if (fLastName === "") {
        alert("Please enter your last name.");
        return false;
    }
    var fEmail = $("#Email").val();
    if (fEmail === "") {
      alert("Please enter your email address");
      return false;
    }
  }
</script>

