@{
    ViewBag.Title = "Register";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

       <br />
        <form name="Reg" action="Success" method="get" onsubmit="return validateForm()">
            <p><em>First Name:</em></p>
            <input id="First" type="text" name="FirstName" />
            <p><em>Last Name:</em></p>
            <input id="Last" type="text" name="LastName" />
            <p><em>Email:</em></p>
            <input id="Email" type="text" name="EmailAddress" />
            <br />
            <input type="submit" name="submit" value="Submit">
        </form>


<!--The following script  validates the FirstName and Email
    address inputs in the registration form.-->
<script>
  function validateForm() { 
    var fName = $("#First").val();   
    if (fName === "") {
      alert("Name must be filled out");
      return false;
    }
    var fEmail = $("#Email").val();
    if (fEmail === "") {
      alert("Email Must be filled out");
      return false;
    }
  }
</script>

