    h2{
        text-align: center;
    }
    h3{
        text-align: center;
    }
    #bootstrap-overrides {
        border: 2px;
        margin: 40px 40px 40px 40px;       
    }
    
    #RegForm{
        text-align:center;
        font-weight:bold;    
    }
